<%= render 'nav' %>
<section>
  <div class="container-fluid">
    <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
      <div class="row justify-content-around mb-5">
        <div class="col-xl-4 col-md-6 col-sm-6 p-2">
          <div class="chart">        
            <%= pie_chart [["1", 1000], ["2", 1100], ["2", 1500]],library: {title: {text: "支出<br>10000 "}} %>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6 p-2">
          <div class="chart">        
          
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-6 p-2">
          <div class="chart">        
          
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
  <section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
        <div class="chart"> 
          
        </div>
      </div>
    </div>
  </div>
</section>