  <%= render 'nav' %>
  <%= render 'card' %>
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
            <div class="row">
              <div id="calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
<%# <div class="wrapper">
  <div id="calendar"></div>
</div> %>