  <%= render 'nav' %>
  <div id="cards">
    <%= render 'card' %>
  </div>
    <section>
      <div class="container-fluid">
        <div class="row justify-content-around">
          <div class="col-xl-11 col-lg-11 col-md-11 ml-auto">
            
              <div id="calendar"></div>
          
          </div>
        </div>
      </div>
    </section>
<%# <div class="wrapper">
  <div id="calendar"></div>
</div> %>