/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "fullcalendar.min";
@import "fullcalendar.min";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: rgb(241, 240, 240);
}

.flex {
  margin: 80px;
}

#calendar {
  background: #fff;
  box-shadow: 2px 3px 15px #999;
  width: 95%;
  height: 101%;
  margin: 40px 70px;
  border-radius: 20px;
}

.fc-left{
  margin-top: 20px;
  margin-left: 20px;
}

.fc-sun { 
  background: rgba(250, 231, 231, 0.7);
  color: red; 
}
.fc-sat {
  background: rgba(238, 248, 250, 0.7);
  color: blue; 
}

.fc-next-button {
  border-radius: 25px !important;
  margin-top: 20px !important;
  outline: none !important;
}

.fc-prev-button {
  border-radius: 25px !important;
  margin-top: 20px !important;
  outline: none !important;
}

.fc-today-button {
  border-radius: 25px !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  outline: none !important;
}

.navbar-brand {
  margin-top: 40px;
}

.fc-event {
  color: #081c15 !important;
}

// .fc-content {
//   background: #ade8f4;
// }